[Unit]
Description=Vista Nave Service
After=network.target

[Service]
ExecStart=/usr/bin/vistanave
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
